<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<style>
    .purple-dark:hover{
        background-color: '#301847',
    } 
    .red-deep{
        background-color: '#C10214',
    }

</style>
<body>
    <section>
        <header class = "container mx-auto px-5 py-1 items-center flex justify-between" style = "font-family: 'Poppins'" >
            <div class="mr-1">
                <a href = "Home.html">
                    <img src = "https://www.electronjs.org/images/electron-logo.svg" alt = "Logo" style="width: 25vw"/>
                </a>
            </div>

            <div class = "flex gap-x-10 items-center">
                <ul class = "flex gap-x-5 font-semibold ">
                    <li>
                        <a href="Home.html" class="hover:text-orange-500 duration-300">Home</a>
                    </li>

                    <li>
                        <a href="Login.html" class="hover:text-orange-500 duration-300">Login</a>
                    </li>
                    
                </ul>
                <button class = "px-6 py-2 rounded-full font-bold border-2 border-orange-400 hover:text-white duration-300 transition ease-in-out transform"
                    type="button" 
                    onclick=""
                    onmouseover="this.style.background='linear-gradient(to right, #301847, #C10214)'; this.style.color='white';" 
                    onmouseout="this.style.background='transparent'; this.style.color='';"
                >
                    Get Started
                </button>
                
            </div>

        </header>
    </section>
</body>
</html>